<h2 mat-dialog-title>
  <span>Forgot Password</span>
</h2>
<mat-dialog-content>
  <form
    [formGroup]="forgotPasswordForm"
  >
    <div
      fxflex
      fxLayout="column"
    >
      <mat-form-field
        apperence="standard"
        fxFlex
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          required
        >
        <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
          <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is mandatory.</span>
          <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">It's not an e-mail.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="start">
  <button
    mat-button
    color="primary"
    mat-dialog-close
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button
    mat-button
    color="primary"
    type="submit"
    *ngIf="this.isButtonVisible"
    (click)="handleSubmit()"
    [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"
  >
    Send Password
  </button>
</mat-dialog-actions>
