<div class="home">
  <header class="home-header">
    <img
      src="/assets/img/background.jpg"
      class="home-backgroundTop"
    >
    <h1 class="home-header--title">FoodDelivery</h1>
  </header>
  <section class="home-section">
    <home-landing-page-image-carousel></home-landing-page-image-carousel>
    <home-landing-page-products-dashboard></home-landing-page-products-dashboard>
    <home-landing-page-products-carousel></home-landing-page-products-carousel>
  </section>
  <img
    src="/assets/img/background.jpg"
    class="home-backgroundBot"
  >
  <home-landing-page-footer></home-landing-page-footer>
</div>
